__pycache__
.DS_Store

options.json

bms_meter_states.json

/bat_*.json

/venv
tools/impedance/influxdb_*.json

user_id

*.pickle
/config.ini
/batmon-ha.jkbms-app.log
/batmon-ha.jkbms-app.log.*
/batmon-ha.jkbms-app-err.log
/batmon-ha.jkbms-app-err.log*
