name: "Batmon"
description: "Monitor various BMS over bluetooth"
url: https://github.com/fl4p/batmon-ha
version: "1.82.6"
slug: "batmon"
init: false
host_dbus: true
apparmor: true

homeassistant_api: true # http://supervisor/core/api
hassio_api: true        # http://supervisor

# watchdog: true # todo  https://developers.home-assistant.io/docs/add-ons/configuration/

arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386

services:
  - mqtt:need

discovery:
  - mqtt


options:
  devices:
    - address: 1
      name: battery1
  verbose_log: false
  sample_period: 1.0
  publish_period: 2.0
  invert_current: true
  watchdog: true
  expire_values_after: 20

schema:
  devices:
      name: str
      debug: "bool?"
      algorithm: "str?"
      address_serial: "str?"

  mqtt_user: "str?"
  mqtt_password: "str?"
  mqtt_broker: "str?"
  mqtt_port: "int(1,65535)?"

  invert_current: "bool"
  watchdog: "bool"

  sample_period: "float"
  publish_period: "float?"
  expire_values_after: "float"

  verbose_log: "bool"